*, ::after, ::before {
  box-sizing: border-box;
}

body {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background: #ffaf13;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
}

.material-icons.md-30 {font-size: 30px;}

/* ############ HEADER ############*/
.navbar-brand {
  color: #fffcbb;
  font-size: 1.5em;
}

.nav a {
  color: #434343;
  font-size: 1.2em;
}

.container {
  width: 100%;
  padding: 25px 25px;
  margin-right: auto;
  margin-left: auto;
  color: #181C32;
}



/* ############ CARD ############*/
.card-custom {
  box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
  border: 0;
}

.card.card-custom > .card-header {
  border-bottom: 1px solid #EBEDF3;
}

.card-header,
.card-body {
  padding: 2rem 2.25rem;
}

.card.card-custom > .card-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  min-height: 70px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

.card-title,
.card-label {
  font-weight: 500;
  font-size: 1.275rem;
  color: #181C32;
  display: flex;
  align-items: center;
  margin: .5rem .5rem .5rem 0;
}

.card-label {
  margin: 0 0.75rem 0 0;
  flex-wrap: wrap;
}

.card-title small {
  color: #B5B5C3;
  font-size: 1rem;
}

.gutter-b {margin-bottom: 25px;}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
}