*, ::after, ::before {
  box-sizing: border-box;
}

body {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background: #ffaf13;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
}

.material-icons.md-30 {font-size: 30px;}

/* ############ HEADER ############*/
header {
  background: #ffaf13;
}

.navbar-brand {
  color: #fffcbb;
  font-size: 1.5em;
}

.nav a {
  color: #434343;
  font-size: 1.2em;
}

.container {
  width: 100%;
  padding: 25px 25px;
  margin-right: auto;
  margin-left: auto;
  color: #181C32;
}



/* ############ CARD ############*/
.card-custom {
  box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
  border: 0;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
}
/* ############ FOOTER ############*/
footer {
  color: #fffcbb !important;
  text-align:center;
}